<div
    id="fondoModalCrearLead"
    style="display: none"
    class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50"
    onclick="toggleModal(event)"
>
    <div
        id="modalForms"
        class="bg-white rounded shadow-lg p-8 m-4 max-w-xs max-h-full text-center"
    >
        
        <p
            class="mt-2 mb-2 font-bold text-red-700 text-left"
            style="font-size: 12px"
        >
            * Obligatorio
        </p>
        <div
            id="div-error"
            class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
            role="alert"
            style="display: none"
        >
            <span class="font-bold"> Cuidado: </span>
            <span id="error-message"> </span>
        </div>

        <form id="crearLeadModal" action="directorio/crearLead" method="POST">
            <input
                type="hidden"
                id="_csrf"
                name="_csrf"
                value="<%= csrfToken %>"
            />
            <div class="mb-4">
                <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="nombre"
                >
                    Nombre
                    <span class="font-bold text-red-700"> * </span>
                </label>
                <input
                    class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    id="nombre"
                    type="text"
                    placeholder="Enrique"
                    name="nombre"
                    required
                />
            </div>
            <div class="mb-4">
                <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="telefono"
                >
                    Teléfono
                </label>
                <input
                    class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    id="telefono"
                    type="text"
                    placeholder="4462598702"
                    name="telefono"
                />
            </div>

            <div class="mb-4">
                <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="embudo"
                >
                    Embudo
                    <span class="font-bold text-red-700"> * </span>
                </label>
                <input
                    list="embudos-list"
                    id="embudo"
                    name="embudo"
                    class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required
                    placeholder="Embudo"
                />
                <datalist id="embudos-list">
                    <% for (let i=0; i < embudos.length; i++) { %>
                    <option value="<%= embudos[i].Embudo %>"><% } %></option>
                </datalist>
            </div>

            <% if (privilegios.some(privilegio => privilegio.Descripcion === 'Crea lead todos.')) { %>
            <div class="mb-4">
                <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="asignadoa"
                >
                    Asignado a
                    <span class="font-bold text-red-700"> * </span>
                </label>
                <select
                    id="asignadoa"
                    name="asignadoa"
                    class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required
                >
                    <% for (let i=0; i < usuarios.length; i++) { %>
                    <option
                        value="<%= usuarios[i].Nombre + ' ' + usuarios[i].ApellidoPaterno %>"
                    >
                        <%= usuarios[i].Nombre + ' ' +
                        usuarios[i].ApellidoPaterno %>
                    </option>
                    <% } %>
                </select>
            </div>
            <% } else { %>
            <input
                type="hidden"
                id="asignadoa"
                name="asignadoa"
                value="<%= nombre + ' ' + apellidoPaterno %>"
            />
            <% } %>

            <div class="flex items-center justify-center">
                <button
                    id="crearLeadBoton"
                    type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                >
                    Crear
                </button>
            </div>
        </form>
    </div>
</div>

<script defer>

    const showPopup = (event) => {
        document.getElementById('fondoModalCrearLead').style.display = 'flex';
    }

    const toggleModal = (event) => {
        if (event.target.id === 'fondoModalCrearLead') {
            document.getElementById('fondoModalCrearLead').style.display = 'none';
        }
    }
    
</script>