<!DOCTYPE html>
<head>
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="/css/output.css" />
    <style>
        body {
        background-color: #E4E8EE;
        }
        #main-content {
          transition: padding-left 0.3s ease,  max-width 0.3s ease;
          padding-left: 3.0rem;
          max-width: calc(100vw - 3.5rem); /* Adjust the padding-left value */
          overflow-x: hidden; /* Hide horizontal overflow */
        }
        .side:hover ~ #main-content {
          padding-left: 10rem;
          max-width: calc(100vw - 10rem); /* Adjust the padding-left value */
        }
        #adj {
        transition: color 0.3s ease, transform 0.3s ease; 
        }

        #adj:hover {
        color: #2563eb; 
        transform: scale(1.05); 
        }
    
        </style>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <%- include('partials/aside.ejs', {
        correo: correo,
        nombre: nombre, 
        apellidoPaterno: apellidoPaterno,
        apellidoMaterno: apellidoMaterno,
        rol: rol,
        privilegios: privilegios,
        }) %>  

    <div id="main-content" class="ml-14 mt-8 mr-8 pl-8 display:flex w-[75%]">
        <nav class="flex">
            <a href="/ajustes">
                <h1 id="adj" class="mb-6 text-2xl font-semibold leading-none tracking-tight text-blue-400 md:text-3xl lg:text-3xl">Ajustes</h1>
            </a>
            <h1 class="mb-6 pl-2 text-2xl font-semibold leading-none tracking-tight text-blue-600 md:text-3xl lg:text-3xl">/ Cambiar Contraseña </h1>
        </nav>
        <p class="mt-2 mb-6 font-bold text-red-700">* Obligatorio</p>
        <%- include('partials/error', {error: error}) %> <%-
        include('partials/success', {success: success}) %>
        <form action="/ajustes/cambiarContrasenia" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="Correo" value="<%= correo %>" />

            <div id="bloque1" class="grid gap-6 mb-0 mr-4 md:grid-cols-2">

                <div class="">
                    <label
                        for="ContraseniaActual"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    >
                        Contraseña actual
                        <span class="font-bold text-red-700">
                             * 
                        </span>
                    </label>
                    <input
                        type="password"
                        id="ContraseniaActual"
                        name="ContraseniaActual"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-700 leading-tight rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/4 p-2.5" 
                        required
                    />
                </div>
                <div class="-ml-4">
                    <label
                        for="NuevaContrasenia"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    >
                        Nueva contraseña
                        <span class="font-bold text-red-700">
                            * 
                       </span>
                    </label>
                    <input
                        type="password"
                        id="NuevaContrasenia"
                        name="NuevaContrasenia"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-700 leading-tight rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/4 p-2.5" 
                        required
                    />
                    <div class="flex flex-col">
                        <span
                            id="passwordError"
                            class="text-red-500 invisible colapse"
                            >La contraseña debe tener:</span
                        >
                        <ul>
                            <li
                                id="passwordLengthError"
                                class="text-red-500 ml-5"
                            ></li>
                            <li
                                id="passwordUppercaseError"
                                class="text-red-500 ml-5"
                            ></li>
                            <li
                                id="passwordNumberError"
                                class="text-red-500 ml-5"
                            ></li>
                            <li
                                id="passwordSpecialCharError"
                                class="text-red-500 ml-5"
                            ></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-4">
                    <label
                        for="ConfirmarNuevaContrasenia"
                        class="block text-gray-700 text-sm font-bold mb-2"
                    >
                        Confirmar nueva contraseña
                        <span class="font-bold text-red-700">
                            * 
                       </span>
                    </label>
                    <input
                        type="password"
                        id="ConfirmarNuevaContrasenia"
                        name="ConfirmarNuevaContrasenia"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-700 leading-tight rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/4 p-2.5" 
                        required
                    />
                    <div class="flex items-center mt-2">
                        <input type="checkbox" id="mostrar" onchange="visibilidadPassword()" class="mr-2">
                        <label for="mostrar" class="text-sm text-gray-700 cursor-pointer">Mostrar contraseñas</label>
                    </div>
                </div>
            </div>
            <button
                id="cambiarContraseniaBtn"
                type="submit"
                class="mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                disabled
            >
                Cambiar Contraseña
            </button>
        </form>
    </div>
</body>

<script>

    function visibilidadPassword() {
        const actualPassword = document.getElementById('ContraseniaActual');
        const newPassword = document.getElementById('NuevaContrasenia');
        const confirmPassword = document.getElementById('ConfirmarNuevaContrasenia');
        const mostrarPassword = document.getElementById('mostrar'); // Asegúrate de tener un elemento con este id

        actualPassword.type = mostrarPassword.checked ? 'text' : 'password';
        newPassword.type = mostrarPassword.checked ? 'text' : 'password';
        confirmPassword.type = mostrarPassword.checked ? 'text' : 'password';
    }

    document
        .getElementById("NuevaContrasenia")
        .addEventListener("input", function () {
            var password = this.value;
            var errorPassword = document.getElementById("passwordError");
            var errorLenghtElement = document.getElementById(
                "passwordLengthError"
            );
            var errorUppercaseElement = document.getElementById(
                "passwordUppercaseError"
            );
            var errorNumberElement = document.getElementById(
                "passwordNumberError"
            );
            var errorSpecialCharElement = document.getElementById(
                "passwordSpecialCharError"
            );

            var cambiarContraseniaBtn = document.getElementById(
                "cambiarContraseniaBtn"
            );

            // Validar longitud de contraseña
            if (password.length < 8) {
                errorLenghtElement.textContent = "Al menos 8 caracteres";
                errorLenghtElement.classList.add("list-disc");
                cambiarContraseniaBtn.disabled = true;
                errorPassword.classList.remove("invisible", "colapse");
                cambiarContraseniaBtn.classList.remove(
                    "bg-blue-500",
                    "hover:bg-blue-700",
                    "text-white",
                    "border-blue-500"
                );
                cambiarContraseniaBtn.classList.add(
                    "text-blue-500",
                    "border",
                    "border-blue-500"
                );
            } else {
                errorLenghtElement.textContent = "";
                errorLenghtElement.classList.remove("list-disc");
            }

            // Validar mayúsculas
            if (!password.match(/[A-Z]/)) {
                errorUppercaseElement.textContent = "Una letra mayúscula";
                errorUppercaseElement.classList.add("list-disc");
                cambiarContraseniaBtn.disabled = true;
                errorPassword.classList.remove("invisible", "colapse");
                cambiarContraseniaBtn.classList.remove(
                    "bg-blue-500",
                    "hover:bg-blue-700",
                    "text-white",
                    "border-blue-500"
                );
                cambiarContraseniaBtn.classList.add(
                    "text-blue-500",
                    "border",
                    "border-blue-500"
                );
            } else {
                errorUppercaseElement.textContent = "";
                errorUppercaseElement.classList.remove("list-disc");
            }

            // Validar números
            if (!password.match(/[0-9]/)) {
                errorNumberElement.textContent = "Un número";
                errorNumberElement.classList.add("list-disc");
                cambiarContraseniaBtn.disabled = true;
                errorPassword.classList.remove("invisible", "colapse");
                cambiarContraseniaBtn.classList.remove(
                    "bg-blue-500",
                    "hover:bg-blue-700",
                    "text-white",
                    "border-blue-500"
                );
                cambiarContraseniaBtn.classList.add(
                    "text-blue-500",
                    "border",
                    "border-blue-500"
                );
            } else {
                errorNumberElement.textContent = "";
                errorNumberElement.classList.remove("list-disc");
            }

            // Validar caracteres especiales
            if (!password.match(/[^A-Za-z0-9]/)) {
                errorSpecialCharElement.textContent = "Un caracter especial";
                errorSpecialCharElement.classList.add("list-disc");
                cambiarContraseniaBtn.disabled = true;
                errorPassword.classList.remove("invisible", "colapse");
                cambiarContraseniaBtn.classList.remove(
                    "bg-blue-500",
                    "hover:bg-blue-700",
                    "text-white",
                    "border-blue-500"
                );
                cambiarContraseniaBtn.classList.add(
                    "text-blue-500",
                    "border",
                    "border-blue-500"
                );
            } else {
                errorSpecialCharElement.textContent = "";
                errorSpecialCharElement.classList.remove("list-disc");
            }

            // Si la contraseña cumple con los requisitos se habilita el botón
            if (
                (password.length >= 8 &&
                    password.match(/[A-Z]/) &&
                    password.match(/[0-9]/) &&
                    password.match(/[^A-Za-z0-9]/)) ||
                password === ""
            ) {
                errorLenghtElement.textContent = "";
                errorLenghtElement.classList.remove("list-disc");
                errorUppercaseElement.textContent = "";
                errorUppercaseElement.classList.remove("list-disc");
                errorNumberElement.textContent = "";
                errorNumberElement.classList.remove("list-disc");
                errorSpecialCharElement.textContent = "";
                errorSpecialCharElement.classList.remove("list-disc");

                cambiarContraseniaBtn.disabled = false;
                errorPassword.classList.add("invisible", "colapse");


                cambiarContraseniaBtn.classList.remove(
                    "text-blue-500",
                    "border",
                    "border-blue-500"
                );
                cambiarContraseniaBtn.classList.add(
                    "bg-blue-500",
                    "hover:bg-blue-700",
                    "text-white",
                    "border-blue-500"
                );
            }
        });
</script>
