<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directorio</title>
  <link rel="stylesheet" href="/css/output.css"/>

  <style> 

    body {
      background-color: #E4E8EE;
    }

    #container {
      position: relative;
      height:500px;
      box-shadow: 1px 4px 8px rgba(36, 37, 42, 0.2);
    }
    #containerElements {
      overflow-y: auto; 
      height:100%;
    }
    #element {
      position: relative;
    }
    #main-content {
      transition: padding-left 0.3s ease;
      padding-left: 3.5rem;
    } 
    .side:hover ~ #main-content {
      padding-left: 10rem;
    }

  </style>

</head>
<body>
  <%- include('partials/sidebar.ejs') %> 
  <%- include('partials/aside.ejs', {
    correo: correo,
    nombre: nombre, 
    apellidoPaterno: apellidoPaterno,
    apellidoMaterno: apellidoMaterno,
    rol: rol,
    })  %> 
  <div id="main-content" class="ml-14 mt-14 pl-8">
    <h1 class="mb-16 text-4xl text-gray-900">Hi <i><%= correo %></i></h1>
        <div id="container" class="relative overflow-auto sm:rounded-lg w-3/4">
          <table class="text-sm text-left rtl:text-right text-gray-500 border-collapse rounded-lg w-full">
            <thead id="tableHead" class="text-xs text-white bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 bg-blue-700">Nombre</th>
                <th scope="col" class="px-6 py-3 bg-blue-700">Último mensaje</th>
                <th scope="col" class="px-6 py-3 bg-blue-700">Primer mensaje</th>
                <th scope="col" class="px-6 py-3 bg-blue-700">Asignado a:</th>
                <th scope="col" class="px-6 py-3 bg-blue-700">Teléfono</th>
                <th scope="col" class="px-6 py-3 bg-blue-700">Consulta más</th>
              </tr>
            </thead>
            <tbody id="containerElements">
              <% leads.forEach((lead) => { %>
                <tr id="element" class="bg-white border-b hover:bg-gray-50">
                  <td class="px-4 py-2 sm:px-3 sm:py-3">
                    <span class="cursor-pointer relative" 
                          onmouseover="document.getElementById('popover0_<%= lead.IDLead %>').classList.remove('hidden')"
                          onmouseout="document.getElementById('popover0_<%= lead.IDLead %>').classList.add('hidden')"
                    >
                      <%= lead.Nombre.substr(0, 15) + (lead.Nombre.length > 15 ? '...' : '') %>
                      <div id="popover0_<%= lead.IDLead %>" class="hidden absolute bg-white border border-gray-300 shadow-lg p-2 z-10 -ml-10 top-8">
                        <%= lead.Nombre %>
                      </div>
                    </span>  
                  </td>
                  <td class="px-4 py-2 sm:px-3 sm:py-3">
                    <!-- Mostrar solo el inicio del último mensaje -->
                    <span class="cursor-pointer relative" 
                          onmouseover="document.getElementById('popover_<%= lead.IDLead %>').classList.remove('hidden')"
                          onmouseout="document.getElementById('popover_<%= lead.IDLead %>').classList.add('hidden')"
                    >
                      <%= lead.Ultimomensaje ? lead.Ultimomensaje.substr(0, 20) + (lead.Ultimomensaje.length > 20 ? '...' : '') : '' %>
                      <div id="popover_<%= lead.IDLead %>" class="hidden absolute bg-white border border-gray-300 shadow-lg p-2 z-10 -ml-10 top-8">
                        <%= lead.Ultimomensaje %>
                      </div>
                    </span>
                  </td>
                  <td class="px-4 py-2 sm:px-3 sm:py-3">
                    <!-- Mostrar solo el inicio del primer mensaje -->
                    <span class="cursor-pointer relative" 
                          onmouseover="document.getElementById('popover2_<%= lead.IDLead %>').classList.remove('hidden')"
                          onmouseout="document.getElementById('popover2_<%= lead.IDLead %>').classList.add('hidden')"
                    >
                    <%= lead.Primermensaje ? lead.Primermensaje.substr(0, 20) + (lead.Primermensaje.length > 20 ? '...' : '') : '' %>
                      <div id="popover2_<%= lead.IDLead %>" class="hidden absolute bg-white border border-gray-300 shadow-lg p-2 z-10 -ml-10 top-8">
                        <%= lead.Primermensaje %>
                      </div>
                    </span>
                  </td>
                  <td class="px-4 py-2 sm:px-3 sm:py-3"><%= lead.Asignadoa %></td>
                  <td class="px-4 py-2 sm:px-3 sm:py-3"><%= lead.Telefono %></td>
                  <td class="flex justify-center pt-2.5">
                    <button onclick="showDialog('<%=lead.IDLead%>')">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                    </button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
    </div>

    <div id="dialog" class="fixed left-0 top-0 bg-black bg-opacity-50 w-screen h-screen z-50 items-center justify-center
    opacity-0 hidden transition-opacity duration-500">
      <div class="bg-white rounded shadow-md w-2/3 flex gap-3 flex-col overflow-hidden">
        <div class="text-gray-900 flex items-start justify-start pl-4 pt-2">
          <strong>Lead</strong>
        </div>

        <!-- Div for lead details -->
        <div id="leadDetails" class="p-4 overflow-x-auto"> </div> 

        <div class="w-5">
          <button onclick="hideDialog()" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

<script defer>

  // function showDialog() {
  //   let dialog = document.getElementById('dialog');
  //   dialog.classList.remove('hidden');
  //   dialog.classList.add('flex');
  //   setTimeout(() => {
  //     dialog.classList.add('opacity-100');
  //   }, 20);
  // }

  function hideDialog() {
    
    let dialog = document.getElementById('dialog');
    dialog.classList.add('opacity-0');
    setTimeout(() => {
      dialog.classList.add('hidden');
      dialog.classList.remove('flex');
    }, 500);
  }
  
  function showDialog(IDLead) {

    console.log(`/directorio/${IDLead}`);
    fetch(`/directorio/${IDLead}`, {
        method: 'GET', 
        headers: {
          'Content-Type': 'application/json',
        }
    })
      .then((result) => {
        console.log(result);
        return result.json(); //Regresa otra promesa
      }).then((data) => {
        console.log(data);
        let dialog = document.getElementById('dialog');
        let leadDetails = data; // Assuming the response contains all lead details
        console.log('datos cargados');
        let leadInfo = '';
        leadInfo += `<table><thead id="tableHead" class="text-xs text-white bg-gray-50"><tr>`;

        // Populate the dialog with lead details  

        // <thead> loop
        let leadHead;
        for (let key in leadDetails) {
          leadInfo += `<th scope="col" class="px-6 py-3 bg-blue-700">${key}</th>`;
        }

        leadInfo += `</tr></thead><tbody><tr id="element" class="bg-white border-b hover:bg-gray-50">`;

        // <td> loop
        for (let key in leadDetails) {
          console.log(`${key}:`);
          console.log(`${key}: ${leadDetails[key]}`);

          const str = leadDetails[key];
          console.log(str, 'string');

          if (str != null) {
            if (str.length > 20) {
              str.substr(0, 20) + '...';
            } else {
              leadInfo += `<td class="px-4 py-2 sm:px-3 sm:py-3">${leadDetails[key]}</td>`; 
            }
          } else {
            leadInfo += `<td class="px-4 py-2 sm:px-3 sm:py-3"></td>`; 
          }

        }

        leadInfo += `</tr></tbody></table>`;
        console.log(leadInfo);
        document.getElementById('leadDetails').innerHTML = leadInfo;

        dialog.classList.remove('hidden');
        dialog.classList.add('flex');
        setTimeout(() => {
          dialog.classList.add('opacity-100');
        }, 20);
      })
      .catch(error => {
        console.error('Error fetching lead details:', error);
      });
  }

</script>
</html>