<!DOCTYPE html>
<head>
    <title>Roles</title>
    <link rel="stylesheet" href="/css/output.css" />
    <style>
        body {
            background-color: #e4e8ee;
        }

        #container {
            position: relative;
            height: 500px;
            box-shadow: 1px 4px 8px rgba(36, 37, 42, 0.2);
        }
        #containerElements {
            overflow-y: auto;
            height: 100%;
        }
        #element {
            position: relative;
        }
        #main-content {
            transition: padding-left 0.3s ease;
            padding-left: 3.5rem;
        }
        .side:hover ~ #main-content {
            padding-left: 10rem;
        }

        #adj {
            transition: color 0.3s ease, transform 0.3s ease;
        }

        #adj:hover {
            color: #2563eb;
            transform: scale(1.05);
        }

    </style>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <%- include('partials/aside.ejs', {
        correo: correo,
        nombre: nombre, 
        apellidoPaterno: apellidoPaterno,
        apellidoMaterno: apellidoMaterno,
        rol: rol,
        privilegios: privilegios,
        }) %>  

    <div id="main-content" class="ml-14 mt-14 pl-8 w-[75%]">
        <nav class="flex">
            <a href="/ajustes">
                <h1
                    id="adj"
                    class="mb-6 pr-2 text-2xl font-semibold leading-none tracking-tight text-blue-400 md:text-3xl lg:text-3xl"
                >
                    Ajustes
                </h1>
            </a>
            <a href="/ajustes/roles">
                <h1
                    id="adj"
                    class="mb-6 pr-2 text-2xl font-semibold leading-none tracking-tight text-blue-400 md:text-3xl lg:text-3xl"
                >
                    / Roles
                </h1>
            </a>
            <h1
                class="mb-6 pr-2 text-2xl font-semibold leading-none tracking-tight text-blue-600 md:text-3xl lg:text-3xl"
            >
                / Editar Rol
            </h1>
        </nav>
        <p class="mt-2 mb-6 font-bold text-red-700">* Obligatorio</p>
        <form action="/ajustes/roles/editarRol/<%= rolObtenido.IDRol %>" method="POST" onsubmit="return validateForm()">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="mt-6">
                <label
                    for="Nombre"
                    class="block text-gray-700 text-sm font-bold mb-2"
                    >Nombre
                    <span class="font-bold text-red-700">
                        * 
                   </span>    
                </label
                >
                <input
                    type="text"
                    required
                    id="Nombre"
                    name="Nombre"
                    value="<%= rolObtenido.Nombre %>"
                    class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                />
            </div>
            <div class="mt-6">
                <label
                    for="DescripcionRol"
                    class="block text-gray-700 text-sm font-bold mb-2"
                    >Descripción</label
                >
                <input
                    type="text"
                    required
                    id="DescripcionRol"
                    name="DescripcionRol"
                    value="<%= rolObtenido.DescripcionRol %>"
                    class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                />
            </div>
            <div class="mt-8">
                <p class="block text-gray-700 text-sm font-bold mb-2">
                    Privilegios
                    <span class="font-bold text-red-700">
                        * 
                   </span>
                    <button id="seleccionar" onclick="seleccionarTodo()" type="button" class="ml-8 text-gray-800 bg-gray-300 border border-gray-400 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center">
                        Seleccionar todo
                    </button>
                </p>
                <div class="grid grid-cols-3">
                    <% for (let i = 0; i < privilegios.length; i++) { %>
                    <div class="mb-1 flex">
                        <input
                            type="checkbox"
                            id="Privilegio<%= i %>"
                            name="Privilegios"
                            value="<%= privilegios[i].IDPrivilegio %>"
                            class="mr-4 mt-1 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300"
                            <% for (let j = 0; j < privilegiosRol.length; j++) { %>
                                <% if (privilegios[i].IDPrivilegio == privilegiosRol[j].IDPrivilegio) { %>
                                    checked
                                <% } %>
                            <% } %>
                        />
                        <label class="flex items-center"
                            ><%= privilegios[i].Descripcion %></label
                        >
                    </div>
                    <% } %>
                </div>
            </div>
            <button
                type="submit"
                class="mt-8 mb-8 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
                Guardar
            </button>
        </form>
    </div>
    <script>
        function validateForm() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var checked = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    checked = true;
                    break;
                }
            }
            if (!checked) {
                alert('Debe seleccionar al menos un privilegio.');
                return false;
            }

            // Obtén una referencia al campo de entrada 'Nombre'
            var nombreInput = document.getElementById('Nombre');

            // Verifica si el campo de entrada 'Nombre' está vacío
            if (nombreInput.value.trim() === '') {
                alert('El campo Nombre no puede estar vacío.');
                return false;
            }

            return true;
        }

        function seleccionarTodo() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const botonSeleccionar = document.querySelector('#seleccionar');

            let todosSeleccionados = true;

            checkboxes.forEach(checkbox => {
                if (!checkbox.checked) {
                    todosSeleccionados = false;
                }
            });

            if (todosSeleccionados) {
                // Si todos los checkbox están marcados, cambiar el texto del botón y desmarcar todos los checkbox
                botonSeleccionar.textContent = "Seleccionar todo";
                checkboxes.forEach(checkbox => {
                    checkbox.checked = false;
                });
            } else {
                // Si no todos los checkbox están marcados, cambiar el texto del botón y marcar todos los checkbox
                botonSeleccionar.textContent = "Deseleccionar todo";
                checkboxes.forEach(checkbox => {
                    checkbox.checked = true;
                });
            }
        }
    </script>
</body>
