<!DOCTYPE html>
<head>
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/output.css" />
  <style>

    #main-content {
      transition: padding-left 0.3s ease;
      padding-left: 3.5rem;
    } 
    .side:hover ~ #main-content {
      padding-left: 10rem;
    }
    
    </style>
</head>
<body class="bg-[#E4E8EE]">
  <%- include('partials/sidebar.ejs') %>
  <%- include('partials/aside.ejs', {
  correo: correo,
  nombre: nombre, 
  apellidoPaterno: apellidoPaterno,
  apellidoMaterno: apellidoMaterno,
  rol: rol
  }) %>  
    <div id="main-content" class="w-full ml-14 mt-12 pl-20 display:flex">
      <h1 class="mb-8 text-4xl text-gray-900">Hi <i><%= correo %></i></h1>

      <div id="redes_calendar" class="flex">
        <div id="reporteSelect" class="bg-[#C4CCD8] w-2/5 mr-4 rounded-md p-4">
          <h2 class="mb-4 font-bold">Reporte</h2>
  
          <form id="reporteForm" class="max-w-lg mx-auto flex items-center" method="POST" action="/reporte" enctype="multipart/form-data">
            <div id="división_redes" class="ml-2 mt-5 w-full">
              <div class="flex justify-start items-center mb-2">
                <label for="whatsapp" class="ml-2">Whatsapp</label>
                <input type="checkbox" id="check_whatsapp" name="whatsapp" value="whatsapp" class="ml-5">
              </div>
      
              <div class="flex justify-start items-center mb-2">
                <label for="facebook" class="ml-2">Facebook</label>
                <input type="checkbox" id="check_facebook" name="facebook" value="facebook" class="ml-6">
              </div>
      
              <div class="flex justify-start items-center mb-2">
                <label for="instagram" class="ml-2">Instagram</label>
                <input type="checkbox" id="check_instagram" name="instagram" value="instagram" class="ml-5">
              </div>
      
              <button class="ml-auto mr-8 mt-5 inline-block px-2 py-1 text-xs font-medium text-center text-purple-700 border border-purple-700 transition bg-white rounded shadow ripple hover:shadow-lg hover:bg-purple-700 hover:text-white focus:outline-none" type="submit">Generar Reporte</button>
            </div>
      
              <div date-rangepicker class="flex items-center ml-auto -mt-10 pl-8">
                <div class="relative">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                      <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                      </svg>
                  </div>
                  <input name="start" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 placeholder="Select date start">
                </div>

                <span class="mx-4 text-gray-500">to</span>
                
                <div class="relative">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                      <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                      </svg>
                  </div>
                  <input name="end" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 placeholder="Select date end">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </div>
              </div>
          </form>
        </div>
      </div>  
  
      <div class="h-52 sm:w-64 border-dashed border-2 border-purple-400 rounded-md p-4 flex items-center justify-center mt-8" style="width: 20rem">
        <!-- Hidden file input -->
        <form class="max-w-lg mx-auto flex flex-col items-center" id="uploadForm" action="/" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

          <input class="block w-full text-sm text-gray-900 border 
          border-gray-300 rounded-lg cursor-pointer bg-gray-50 
          dark:text-gray-400 focus:outline-none dark:bg-gray-700 
          dark:border-gray-600 dark:placeholder-gray-400 mb-4" 
          type="file" id="file" name="file" accept=".csv"/>
          <br><br> 
          <button class="text-white bg-blue-700 hover:bg-blue-800 
          focus:ring-4 focus:ring-blue-300 font-medium rounded-lg 
          text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 
          dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" 
          type="submit" value="Guardar">Subir archivo</button>

        </form> 
      </div>  
    </div>
  <script>  
      document.getElementById('uploadText').addEventListener('click', function() {
      document.getElementById('file').click();
      });     

  </script>
</body>