<!DOCTYPE html>

<head>
    <title>Registrar cuenta de usuario</title>
    <link rel="stylesheet" href="/css/output.css" />
    <style>
        body {
            background-color: #e4e8ee;
        }

        #container {
            position: relative;
            height: 500px;
            box-shadow: 1px 4px 8px rgba(36, 37, 42, 0.2);
        }

        #containerElements {
            overflow-y: auto;
            height: 100%;
        }

        #element {
            position: relative;
        }

        #main-content {
            transition: padding-left 0.3s ease;
            padding-left: 3.5rem;
        }

        .side:hover ~ #main-content {
            padding-left: 10rem;
        }

        #adj {
            transition: color 0.3s ease, transform 0.3s ease;
        }

        #adj:hover {
            color: #2563eb;
            transform: scale(1.05);
        }
    </style>
</head>

<body class="bg-[#E4E8EE]">
    <%- include('partials/sidebar.ejs') %>
    <%- include('partials/aside.ejs', {
        correo: correo,
        nombre: nombre, 
        apellidoPaterno: apellidoPaterno,
        apellidoMaterno: apellidoMaterno,
        rol: rol,
        privilegios: privilegios
        }) %> 

    <div id="main-content" class="ml-14 mt-14 pl-8 display:flex w-[75%]">
        <nav class="flex">
            <a href="/ajustes">
                <h1
                    id="adj"
                    class="mb-6 pr-2 text-2xl font-semibold leading-none tracking-tight text-blue-400 md:text-3xl lg:text-3xl"
                >
                    Ajustes
                </h1>
            </a>
            <a href="/ajustes/usuarios">
                <h1
                    id="adj"
                    class="mb-6 pr-2 text-2xl font-semibold leading-none tracking-tight text-blue-400 md:text-3xl lg:text-3xl"
                >
                    / Usuarios
                </h1>
            </a>
            <h1
                class="mb-6 pr-2 text-2xl font-semibold leading-none tracking-tight text-blue-600 md:text-3xl lg:text-3xl"
            >
                / Agregar Usuario
            </h1>
        </nav>

        <form
            action="/ajustes/usuarios/agregarUsuario"
            method="POST"
            class="mt-8 mr-5"
        >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

            <div
                id="div-error"
                class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
                role="alert"
                style="display: none"
            >
                <span class="font-bold"> Alerta: </span>
                <span id="error-message"> </span>
            </div>

            <div id="bloque1" class="grid gap-6 mb-0 md:grid-cols-3">
                <div>
                    <label
                        for="nombre"
                        class="block mb-2 text-sm font-bold text-gray-700"
                    >
                        Nombre <span class="font-bold text-red-700"> * </span>
                    </label>
                    <input
                        type="text"
                        id="nombre"
                        name="nombre"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Martha"
                        required
                        maxlength="64"
                    />
                </div>
                <div>
                    <label
                        for="apellidoPaterno"
                        class="block mb-2 text-sm font-bold text-gray-700"
                    >
                        Apellido Paterno
                        <span class="font-bold text-red-700"> * </span>
                    </label>
                    <input
                        type="text"
                        id="apellidoPaterno"
                        name="apellidoPaterno"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Rojas"
                        required
                        maxlength="32"
                    />
                </div>
                <div>
                    <label
                        for="apellidoMaterno"
                        class="block mb-2 text-sm font-bold text-gray-700"
                    >
                        Apellido Materno
                    </label>
                    <input
                        type="text"
                        id="apellidoMaterno"
                        name="apellidoMaterno"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Contreras"
                        maxlength="32"
                    />
                </div>
                <div>
                    <label
                        for="correo"
                        class="block mb-2 text-sm font-bold text-gray-700"
                    >
                        Correo <span class="font-bold text-red-700"> * </span>
                    </label>
                    <input
                        type="text"
                        id="correo"
                        name="correo"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="martharoco@gmail.com"
                        required
                    />
                </div>
                <div>
                    <label
                        for="password"
                        class="block mb-2 text-sm font-bold text-gray-700"
                    >
                        Contraseña
                        <span class="font-bold text-red-700"> * </span>
                    </label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="•••••••••"
                        required
                        maxlength="32"
                    />
                </div>
                <div>
                    <label
                        for="confirmarPassword"
                        class="block mb-2 text-sm font-bold text-gray-700"
                    >
                        Confirmar contraseña
                        <span class="font-bold text-red-700"> * </span>
                    </label>
                    <input
                        type="password"
                        id="confirmarPassword"
                        name="confirmarPassword"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="•••••••••"
                        required
                        maxlength="32"
                    />
                </div>

                <div class="mb-6">
                    <label
                        for="telefono"
                        class="block mb-2 text-sm font-bold text-gray-700"
                    >
                        Teléfono
                    </label>
                    <input
                        type="tel"
                        id="telefono"
                        name="telefono"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="4425189756"
                    />
                </div>
                <div class="mb-4">
                    <label
                        for="rol"
                        class="block mb-2 text-sm font-bold text-gray-700"
                    >
                        Rol <span class="font-bold text-red-700"> * </span>
                    </label>
                    <select
                        id="rol"
                        name="rol"
                        class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        required
                    >
                        <% for (let i=0; i < roles.length; i++) { %>
                        <option value="<%= roles[i].IDRol %>" <%= roles[i].Nombre === 'Seller' ? 'selected' : '' %>>
                            <%= roles[i].Nombre %>
                        </option>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="mt-0 mb-6">
                <label
                    for="domicilio"
                    class="block mb-2 text-sm font-bold text-gray-700"
                >
                    Domicilio
                </label>
                <input
                    type="text"
                    id="domicilio"
                    name="domicilio"
                    class="shadow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Av. Las Fuentes #512"
                    maxlength="256"
                />
            </div>

            <button
                type="submit"
                name="submit-button"
                id="submit-button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
                Agregar usuario
            </button>
        </form>
    </div>
    <script>
        const submitButton = document.getElementById("submit-button");
        const password = document.getElementById("password");
        const confirmPassword = document.getElementById("confirmarPassword");
        const telefono = document.getElementById("telefono");
        const nombre = document.getElementById("nombre");
        const apellidoPaterno = document.getElementById("apellidoPaterno");
        const apellidoMaterno = document.getElementById("apellidoMaterno");

        const errorDiv = document.getElementById("div-error");
        const errorMessage = document.getElementById("error-message");

        function checkPasswords() {
            if (password.value !== confirmPassword.value) {
                errorMessage.textContent = "Las contraseñas no coinciden.";
                submitButton.disabled = true;
                errorDiv.style.display = "block";
            } else {
                errorMessage.textContent = "";
                submitButton.disabled = false;
                errorDiv.style.display = "none";
            }
        }

        function checkTelefono() {
            const phoneRegex = /^[0-9]*$/;
            if (!phoneRegex.test(telefono.value)) {
                errorMessage.textContent =
                    "El teléfono solo debe contener números.";
                submitButton.disabled = true;
                errorDiv.style.display = "block";
            } else {
                errorMessage.textContent = "";
                submitButton.disabled = false;
                errorDiv.style.display = "none";
            }
        }

        function checkNombre() {
            const nombreRegex = /^[a-zA-Z\s-]*$/;
            if (
                !nombreRegex.test(nombre.value) ||
                !nombreRegex.test(apellidoPaterno.value) ||
                !nombreRegex.test(apellidoMaterno.value)
            ) {
                errorMessage.textContent =
                    "El nombre completo solo debe contener letras.";
                submitButton.disabled = true;
                errorDiv.style.display = "block";
            } else {
                errorMessage.textContent = "";
                submitButton.disabled = false;
                errorDiv.style.display = "none";
            }
        }

        password.addEventListener("input", checkPasswords);
        confirmPassword.addEventListener("input", checkPasswords);
        telefono.addEventListener("input", checkTelefono);
        nombre.addEventListener("input", checkNombre);
    </script>
</body>
