<!DOCTYPE html>
<head>
  <title>Roles</title>
  <link rel="stylesheet" href="/css/output.css" />
</head>
<body class="bg-[#E4E8EE]">
  <nav><%- include('partials/sidebar.ejs') %></nav>
  <div class="p-4 sm:ml-32">
    <header class="text-left">
        <div class="mb-4">
            <%- include('partials/rutaActual', {path: ['ajustes', 'roles']}) %>
        </div>
        <h1 class="mb-4 text-4xl font-bold text-gray-900">Roles</h1>
    </header>
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Descripción</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <% for (let i = 0; i < roles.length; i++) { %>
                <tr>
                    <td class="px-6 py-4 whitespace-no-wrap"><%= roles[i].Nombre %></td>
                    <td class="px-6 py-4 whitespace-no-wrap"><%= roles[i].DescripcionRol %></td>
                    <td class="px-6 py-4 whitespace-no-wrap">
                        <a href="/ajustes/roles/editarRol/<%= roles[i].IDRol %>" class="text-blue-600 hover:underline">Modificar rol</a>
                        <% if (roles[i].Nombre != 'Owner') { %>
                            <a href="/ajustes/roles/editarPrivilegios/<%= roles[i].IDRol %>" class="text-blue-600 hover:underline">Modificar privilegios</a>
                        <% } %>
                        <% if (roles[i].Nombre != 'Owner' && roles[i].Nombre != 'Administrador' && roles[i].Nombre != 'Seller') { %>
                            <a href="/ajustes/roles/eliminarRol/<%= roles[i].IDRol %>" class="text-red-600 hover:underline">Eliminar rol</a>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
  </div>
</body>
